:root {
  --laser-lemon: #EEFC57;
  --mustard: #FCD757;
  --white: #ffffff;
  --black: #000500;
}

  body {
    background-color: #000500;
  }

  html {
    font-size: 62.5%;
  }


  .container-header {
    justify-content: space-between;
    justify-items: center;
    margin-right: 4rem;
    display: flex;
}

.logo {
    height: 7.5rem;
    width: 7.5rem;
}

.nav {
  font-family: 'Didot', serif;
  font-size: 2.5rem;
  padding: 2rem;
}


li {
  list-style-type: none;
  display: inline-block;
}

a {
  color: var(--mustard);
  text-decoration: none;
}


.container-greeting {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  width: 100%;
  height: 50rem;

}

.greeting--letter {
  font-family: 'Jazz LET', 'fantasy';
  color: var(--mustard);
  font-size: 10rem;
}

.hello {
  font-size: 4rem;
  color: var(--white);
  font-family: 'Didot', serif;
  font-weight: lighter;
  display: block;
  margin-left: 10rem;
}

.portrait {
  max-width: 30rem;
  height: 50rem;
  border-radius: 8px;
  opacity: 100%;
  display: block;
  margin-right: 9rem;
  flex-shrink: 2;
}

h1 {
  font-family: 'Didot', serif;
  font-weight: lighter;
  color: var(--mustard);
  font-size: 3rem;

}

.about-title, .projects-title{
  position: relative;
  padding: 1rem;
  margin-left: 10rem;
}

.projects {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80rem;

}
.project1-img {
  height: 60rem;
  width: 40rem;
  border-radius: 8px;
  border: 1rem solid var(--white);
}

.project2-img {
  height: 40rem;
  width: 40rem;
  border-radius: 8px;
}

.project3-img {
  height: 40rem;
  width: 40rem;
  border-radius: 8px;
  border: 1rem solid var(--white);

}
.project1, .project2, .project3 {
  display: inline-block;
}

h2 {
  font-family: 'Didot', serif;
  font-weight: lighter;
  color: var(--white);
  font-size: 2rem;
}

.img-caption {
  position: absolute;
  margin-left: 5rem;

}




@media screen and (max-width: 768px) {
    .container-header {
      flex-direction: column;
      align-items: center;
      margin: 0px;
    }

    .container-greeting {
      height: 35rem;
    }
    .hello {
      margin: 0px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .portrait {
      display: none;
    }
    .projects {
      flex-direction: column;
      margin-top: 60rem;
      align-items: center;
    }
    .project1, .project2, .project3 {
      margin-top: 4rem;
      margin-bottom: 4rem;
      align-items: center;
    }
    h1 {
      text-align: center;
      margin-right: 12rem;
    }
  }